/* ================Universal================*/
/* Transitions Only After Page Load */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {text-decoration: none; color: #ffe970;}
a:hover, a:focus {color: #00ff00;}
html {scroll-behavior: smooth;}

h1 {
    text-align: center;
    width: 100%;
    font-size: 250%;
}
h2 {
    font-size: 150%;
}

section {
    padding-bottom: 25px;
    padding-top: 25px;
}

body {
    background: #171717 url("../imgs/background-main.jpg") no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
}


/* ================Universal class================*/
.center-content {
    margin-left: auto;
    margin-right: auto;
}

.button-shadow {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
}

.button-shadow:hover, .button-shadow:focus {
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.link-icon {
    font-size: 0;
    margin: 0;
}

/*================Go to Top Button================*/
#top-arrow-id {
    display: none;
    position: fixed;
    width: 4%;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    /*background-color: #fee045;*/
    cursor: pointer;
    border-radius: 4px;
}

/*================Header================*/
header {
    transition: 1s;
    padding-bottom: 2%;
    text-align: center;
    /*margin-bottom: 25px;*/
}

.logo-img {
    display: block;
    width: 60%;
}

/*================Menu================*/
.nav-buttons {
    transition: 1s;
    padding: 5px;
}

.nav-buttons img {
    margin-right: .5%;
    margin-left: .5%;
    width: 20%;
}

/*================Info Area================*/
.info-area {
    box-shadow: 0px 0px 10px black;
    color: white;
    width: 85%;
    background-color: #282828;
}

.info-div {
    width: 90%;
    text-align: justify;
}

.info-block {
    width: 100%;
}

.info-block:after {
    content: "";
    display: table;
    clear: both;
}

.square-preview {
    width: 100%;
}

/* Blocks */
.info-block-1, .info-block-2, .info-block-3 {
    font-size: 130%;
    float: left;
}

.info-block-image-1, .info-block-image-2, .info-block-image-3  {
    width: 25%;
}

.info-block-text-1, .info-block-text-2, .info-block-text-3 {
    padding: 5% 0px 5% 0px;
}

/* Block 1*/
.info-block-text-1 {
    margin-right: 5%;
    width: 70%;
}
/* Block 2*/
.info-block-text-2 {
    margin-left: 5%;
    width: 70%;
}

/* Block 3*/
.info-block-text-3 {
    margin-right: 5%;
    width: 70%;
}


/*================Suggestion Button================*/
.button-suggestion {
    color: white;
    text-align: center;
}

.button-suggestion img {
    width: 25%;
    margin: 1%;
}

/*================Footer Area================*/
footer {
    color: white;
    padding: 20px;
    /*margin-top: 25px;*/
    text-align: center;
    background: #1f1f1f;
}


.mice-text-footer {
    display: block;
    width: 40%;
}

.footer-icons {
    padding-top: 1.5%;
    padding-right: 1%;
    padding-left: 1%;
}

footer a {
    color: white;
    font-weight: bold;
    font-size: 1em;
}
footer p {
    margin-top: 10px;
    font-size: 100%;
}

/* ================Mobile Devices================ */
@media only screen and (max-width: 600px) {
    /* ================Universal================ */
    h1 {
        font-size: 175%;
    }
    h2 {
        font-size: 125%;
    }
    /* ================Go To Top Button================ */
    #top-arrow-id {
        width: 0;
    }
    /* ================Header================ */
    .logo-img {
        width: 90%;
    }
    /*================Menu================*/
    .nav-buttons img {width: 50%;}
    .info-area {
        width: 95%;
    }

    /* ================Info Area================ */
    .info-div {
        width: 90%;
    }

    /* ================Button Suggestion================ */
    .button-suggestion img {
        width: 50%;
    }

    /* ================Footer================ */
    .mice-text-footer {
        display: block;
        width: 90%;
    }
}
@media only screen and (max-width: 950px) {
    /*================Info Area================*/
    /* Blocks */
    .info-block-image-1, .info-block-image-2, .info-block-image-3  {
        display: none;
    }

    .info-block-text-1, .info-block-text-2, .info-block-text-3 {
        font-size: 100%;
        margin: 0;
        margin-bottom: 25px;
        width: 100%;
        padding: 0;
    }
}
