/*Universal*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {text-decoration: none;}
html {scroll-behavior: smooth;}

h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-size: 300%;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

/*Go to Top Button*/
#top-arrow-id {
    display: none;
    position: fixed;
    width: 80px;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    /*background-color: #fee045;*/
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/* Ad Area*/
.ad-area {
    background-color: #1f1f1f;
    height: 128px;
}

/*Header*/
header {
    background: #8aacff;
    /*padding: 25px;*/
    text-align: center;
    /*margin-bottom: 25px;*/
}
img.mice-text {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/*Menu*/
.nav-buttons {
    background: #8aacff;
    padding: 5px;
}

.nav-buttons img {
    padding-right: 10px;
    padding-left: 10px;
    width: 20%;
}

/*Carousel*/
.carousel-images {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background: #8aacff;
    /*background: url("../imgs/image1.jpg") center center/100% 100% no-repeat;*/
}
.carousel-image-1 {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 25px;*/
    
}

/*Download Area*/
.download-area {
    color: white;
    background-color: #282828;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.download-options-table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    /*border: 2px solid #1f1f1f;*/
}

.download-options-table div {
    padding: 20px;
    /*border: 2px solid #1f1f1f;*/
}

.download-text-div {
    font-size: 1.2em;
    padding: 25px;
}
.download-icon-div h2 {
    font-size: 1.5em;
}

.download-text-description {
    list-style-type: none;
    text-align: justify;
    font-size: 1em;
}

.download-icons {
    width: 35%;
}

.download-button-images {
    width: 75%;
    /*cursor: pointer;*/
}

/* Download Versions */
.download-version-toggle {
    padding: 10px;
    margin-bottom: 25px;
    color: white;
    background: #4e4e4e;
    cursor: pointer;
}

.download-version-toggle:hover {
    background: white;
    color: #4e4e4e;
}

.download-versions-div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 25px;
    border: 4px solid #1f1f1f;
}
.download-versions-div h2 {
    font-size: 150%;
}

.download-versions-div table {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 25px;
}
  
.download-versions-div td, th {
    border: 4px solid #1f1f1f;
    font-size: 125%;
    text-align: center;
    padding: 12px;
}


/*Faq Area*/
.faq-area {
    color: white;
    background-color: #282828;
    padding-bottom: 25px;
}

.faq-div {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.faq-div h2 {
    margin-top: 25px;
    font-size: 110%;
}

/*Chargelog Area*/
.changelog-area {
    text-align: center;
    color: white;
    background: #282828;
    padding-bottom: 25px;
}

.changelog-div h2 {
    font-size: 140%;
}

.changelog-div h3 {
    font-size: 120%;
}

.changelog-block {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 400px;
    overflow: auto;
    text-align: justify;
    padding: 40px;
    /*border: 4px solid #ffe970;*/
}

/*Footer Area*/
footer {
    color: rgb(0, 0, 0);
    padding: 20px;
    /*margin-top: 25px;*/
    text-align: center;
    background: #e0bf00;
}

.mice-text-footer {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

footer a {
    color: white;
    font-weight: bold;
    font-size: .8em;
}
footer p {
    font-weight: bold;
    font-size: 110%;
}

/* Mobile Devices*/
@media only screen and (max-width: 420px) {
    /* Header */
    img.mice-text {width: 80%;}
    /*Menu*/
    .nav-buttons img {width: 30%;}

    /* Download Versions */

    .download-versions-div h2 {
        font-size: 100%;
    }
    .download-versions-div {
        width: 100%;
    }
      
    .download-versions-div td, th {
        font-size: 90%;
        border: 2px solid #1f1f1f;
        text-align: center;
        padding: 2px;
    }
}
