/*Universal*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

/*Header*/
header {
    background: #8aacff;
    /*padding: 25px;*/
    text-align: center;
    /*margin-bottom: 25px;*/
}
img.mice-text {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Menu*/
.nav-buttons {
    background: #8aacff;
    padding: 20px;
}
.nav-buttons a {
    color: white;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
    
}
.nav-buttons a:hover {
    transition: .2s ease;
    /*border: 1px solid #ffe970;*/
    color: #ffe970
}

/*Carousel*/
.carousel-images {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background: #8aacff;
    /*background: url("../imgs/image1.jpg") center center/100% 100% no-repeat;*/
}
.carousel-image-1 {
    display:block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 25px;*/
    
}

/*Download Area*/
.download-area {
    color: black;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

.download-options-table {
    /*border: 2px solid #e0bf00;*/
    /*padding: 5%;*/
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed; 
    font-size: 150%;
    width: 80%;
}

.download-options {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*border: black;
    border-style: solid 2px;*/
}

.download-icons {
    width: 50%;
}

/*
.download-table-icon {
    height: 100%;
    width: 100%;
}
*/

.download-button-images {
    width: 100%;
}

/*
.download-options-table td {
    border: 4px solid #ffe970;
}
*/

/*Faq Area*/
div.faq-div {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /*color: white;
    background-color: #5d0081;
    padding: 40px;*/
    text-align: justify;
}

div.faq-div h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 70%;
    font-size: 180%;
    border-bottom: black solid 1px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

div.faq-div h2 {
    font-size: 110%;
}

div.faq-div p {
    margin-bottom: 25px;
    
}

/*Chargelog Area*/
.changelog-div {
    text-align: center;
}

.changelog-div h1 {
    font-size: 180%;
}

.changelog-div h2 {
    font-size: 140%;
}

.changelog-div h3 {
    font-size: 120%;
}

.changelog-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    width: 50%;
    height: 400px;
    overflow: auto;
    text-align: justify;
    padding: 40px;
    /*border: 4px solid #ffe970;*/
}


/*Footer Area*/
footer {
    color: rgb(0, 0, 0);
    padding: 20px;
    /*margin-top: 25px;*/
    text-align: center;
    background: #e0bf00;
}

footer a {
    color: white;
    font-weight: bold;
    font-size: .8em;
}
footer p {
    font-weight: bold;
    font-size: 110%;
}

